.mailpro-form {
  margin-bottom: 1em;
}
.mailpro-form input {
  margin-top: 0;
  margin-bottom: 2px;
}

#item-mailpro-wrapper {
	margin:2px auto;
}

#mailpro-block-form #edit-submit{
	margin-top:2px;
}

#mailpro-block-form .form-text{
	padding:5px 0;
}

#mailpro-block-form .form-item.error{
	display:block;
}